<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>GIACP</title>
  </head>
<!-- this is a header -->
<header>
    <!-- fancy Jumbotron for GIACP -->

    <div class="jumbotron">
        <h1 class="display-4">Gastroenterology Associates</h1>

        <h2>
            Of Central Pennsylvania, P.C.
        </h2>

    <h4>717-533-2224</h4>
    </div>
    <!-- dropdown navigation button -->
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Navigation
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/aboutus">About Us</a>
            <a class="dropdown-item" href="/associates">Associates</a>
            <a class="dropdown-item" href="/contactus">Contact Us</a>
            <a class="dropdown-item" href="/insurance">Insurance</a>
            <a class="dropdown-item" href="/directions">Directions</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Procedures
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/upperendoscopy">Upper Endoscopy</a>
            <a class="dropdown-item" href="/colonoscopy">Colonoscopy</a>
            <a class="dropdown-item" href="/flexiblesigmoidoscopy">Flexible Sigmoidoscopy</a>
            <a class="dropdown-item" href="/ercp">ERCP (Endoscopic Retrograde Cholangio Pancreaticogram)</a>
            <a class="dropdown-item" href="/liverbiopsy">Liver Biopsy</a>
            <a class="dropdown-item" href="/esophagealmanometry">Esophageal Manometry</a>
            <a class="dropdown-item" href="/24hrph">24 Hour pH Probe</a>
         </div>
    </div>
</header>
<div class="hero"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            {{{ body }}}
        </div>
        <div class="col-md-3" id="sidebar">
            <!-- hours of operation -->
            <section class="hours">
                <h3>Hours</h3>
                <ul>
                    <li>
                        Monday: 8AM-4:30PM
                    </li>
                    <li>
                        Tuesday: 8AM-4:30PM
                    </li>
                    <li>
                        Wednesday: 8AM-4:30PM
                    </li>
                    <li>
                        Thursday: 8AM-4:30PM
                    </li>
                    <li>
                        Friday: 8AM-4:30PM
                    </li>
                    <li>
                        Saturday: Closed
                    </li>
                    <li>
                        Sunday: Closed
                    </li>
                </ul>
            </section>
            <!-- location of GIACP -->
            <section class="location">
                <h3>Location</h3>
                <p>
                    1421 Fishburn Road, Hershey, PA 17033
                </p>
            </section>
            <!-- changed div into section semantic tag -->
            <section class="procedures">
                <h3>Procedures</h3>
                <ul>
                    <li>
                        Screening Colonoscopy
                    </li>
                    <li>
                        Upper Endoscopy (EGD or Esophagogastroduodenoscopy)
                    </li>
                    <li>
                        Colonoscopy
                    </li>
                    <li>
                        Flexible Sigmoidoscopy
                    </li>
                    <li>
                        ERCP (Endoscopic Retrograde CholangioPancreaticogram)
                    </li>
                    <li>
                        Liver Biopsy
                    </li>
                    <li>
                        Esophageal Manometry
                    </li>
                    <li>
                        24 Hour pH Probe
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<!-- info about GIACP -->
<footer>
    <h2>Made by Awesome Coding LLC</h2>
    <p>
        &copy; 2020 Awesome Coding LLC Inc.
    </p>
</footer>
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>