<p align="center">&nbsp;<img border="0" src="Black_Oval000CD9A8.gif" width="259" height="9"></p>
<p align="center"><b><font size="6">24 Hour pH Probe</font></b></p>
<p align="center"><img border="0" src="Black_Oval000CDE5A.gif" width="259" height="9"></p>
<p align="left">The 24 hour pH probe test will monitor the acid in your
esophagus during a 24 hour period.&nbsp; It involves the placement of a very
small diameter tube through the nostril, which is swallowed into the esophagus
with drinks of water.&nbsp; The tube will be attached to a minicomputer/recorder
held in a carrying case that you will carry with you during a normal day.&nbsp;
You should try to perform your usual activities, regular eating habits (with the
exception of alcohol and any medicines that would change the acid in your
esophagus during testing (e.g., antacids)).&nbsp; You will be asked to keep a
simple diary.&nbsp; Complete instructions about the diary will be given to you
at the time of the tube placement.&nbsp; The tube will be removed the next day
at a time set up by the nurse before you leave.&nbsp; It generally takes about
half an hour to place the tube and give you instructions.&nbsp; You will then be
sent home with the tube for approximately 24 hours.&nbsp; There is no sedation
given, so you will be able to drive and go to work after the probe is placed and
after it is removed.</p>
<p align="left">Preparation</p>
<p><i>5 days before test:</i></p>
<p>Discontinue any Aciphex, Axid (Nizatidine), Nexium, Omeprazole, Pepcid (Famotidine),
Prevacid, Prilosec, Prilosec OTC, Protonix, Tagamet (Cimetidine), Zantac
(Ranitidine), and Zegerid unless instructed otherwise by your physician.</p>
<p align="left"><i>Midnight prior to the test:</i></p>
<p align="left">Discontinue all antacids, including Maalox, Tums, Mylanta,
Gaviscon, Rolaids.</p>
<p align="left"><i>Day of test</i></p>
<p align="left">You will not be able to eat or drink anything for six hours
prior to the test.</p>

<p align="left">&nbsp;</p>

<p align="center"><a href="index.html">Home</a></p>

</body>
