<p align="center"><font size="5"><strong><img
src="Black_Oval000CD9A8.gif" width="259" height="9"></strong></font></p>

<p align="center"><font size="6"><strong>ERCP</strong></font></p>

<p align="center"><font size="5"><strong><img
src="Black_Oval000CDE5A.gif" width="259" height="9"></strong></font></p>

<table border="0">
    <tr>
        <td>Endoscopic retrograde<br>
        cholangiopancreatography<br>
        (en-doh-SKAH-pik REH-troh-grayd<br>
        koh-LAN-jee-oh-PANG-kree-uh-TAH-gruh-fee)<br>
        (ERCP) enables the physician to<br>
        diagnose problems in the liver,<br>
        gallbladder, bile ducts, and pancreas.<br>
        The liver is a large organ that, among<br>
        other things, makes a liquid called bile<br>
        that helps with digestion. The gallbladder<br>
        is a small, pear-shaped organ that stores<br>
        bile until it is needed for digestion. The<br>
        bile ducts are tubes that carry bile from<br>
        the liver to the gallbladder and small<br>
        intestine. These ducts are sometimes<br>
        called the biliary tree. The pancreas is a<br>
        large gland that produces chemicals that<br>
        help with digestion and hormones such<br>
        as insulin.<br>
        <br>
        ERCP is used primarily to diagnose and<br>
        treat conditions of the bile ducts<br>
        including gallstones, inflammatory<br>
        strictures (scars), leaks(from trauma and<br>
        surgery), and cancer. ERCP combines<br>
        the use of x rays and an endoscope,<br>
        which is a long, flexible, lighted tube.<br>
        Through it, the physician can see the<br>
        inside of the stomach and duodenum,<br>
        and inject dyes into the ducts in the<br>
        biliary tree and pancreas so they can be<br>
        seen on x rays.<br>
        <br>
        For the procedure, you will lie on your<br>
        left side on an examining table in an x ray<br>
        room. You will be given medication to</td>
        <td><img src="photos/ercp.gif" width="228" height="430"></td>
    </tr>
</table>

<p>help numb the back of your throat and a sedative to help you
relax during the exam. You<br>
will swallow the endoscope, and the physician will then guide the
scope through your<br>
esophagus, stomach, and duodenum until it reaches the spot where
the ducts of the biliary<br>
tree and pancreas open into the duodenum. At this time, you will
be turned to lie flat on<br>
your stomach, and the physician will pass a small plastic tube
through the scope. Through<br>
the tube, the physician will inject a dye into the ducts to make
them show up clearly on x<br>
rays. X rays are taken as soon as the dye is injected.<br>
<br>
If the exam shows a gallstone or narrowing of the ducts, the
physician can insert<br>
instruments into the scope to remove or relieve the obstruction.
Also, tissue samples<br>
(biopsy) can be taken for further testing.<br>
<br>
Possible complications of ERCP include pancreatitis (inflammation
of the pancreas),<br>
infection, bleeding, and perforation of the duodenum. Except for
pancreatitis, such<br>
problems are uncommon. You may have tenderness or a lump where
the sedative was<br>
injected, but that should go away in a few days. <br>
<br>
ERCP takes 30 minutes to 2 hours. You may have some discomfort
when the physician<br>
blows air into the duodenum and injects the dye into the ducts.
However, the pain<br>
medicine and sedative should keep you from feeling too much
discomfort. After the<br>
procedure, you will need to stay at the hospital for 1 to 2 hours
until the sedative wears<br>
off. The physician will make sure you do not have signs of
complications before you<br>
leave. If any kind of treatment is done during ERCP, such as
removing a gallstone, you<br>
may need to stay in the hospital overnight.<br>
<br>
Preparation<br>
<br>
Your stomach and duodenum must be empty for the procedure to be
accurate and safe.<br>
You will not be able to eat or drink anything after midnight the
night before the procedure,<br>
or for 6 to 8 hours beforehand, depending on the time of your
procedure. Also, the<br>
physician will need to know whether you have any allergies,
especially to iodine, which is<br>
in the dye. You must also arrange for someone to take you
home--you will not be allowed<br>
to drive because of the sedatives. The physician may give you
other special instructions.</p>

<p>&nbsp;</p>
