<p align="center">&nbsp;<img border="0" src="Black_Oval000CD9A8.gif" width="259" height="9"></p>
<p align="center"><b><font size="6">Esophageal Manometry</font></b></p>
<p align="center"><img border="0" src="Black_Oval000CDE5A.gif" width="259" height="9"></p>
<p>This procedure involves passing a narrow, soft tube through the nostril or
mouth and into the esophagus.&nbsp; This tube measures pressures in different
areas of the esophagus so that your doctor can evaluate how strongly the
esophagus muscle contracts when you swallow and how competent the sphincter
(valve) is at the end of the esophagus.&nbsp; In most cases, this is an easily
tolerated procedure.&nbsp; You may feel a little pressure in your nostril and
slight gagging as the tube is initially passed.&nbsp; These sensations subside
once the tube is positioned and your body becomes adjusted to the tube.&nbsp;
This study takes about an hour to perform.&nbsp; There is no sedation given, so
you will be able to drive and go to work after the procedure is completed.</p>
<p>Preparation</p>
<p>You will not be able to eat or drink anything for six hours prior to the
test.&nbsp; The following drugs should be stopped for at least 48 hours:&nbsp;
Reglan (metoclopramide) and Urecholine (bethanechol).&nbsp; You may wish to
consult your physician first.&nbsp; Some heart and blood pressure medicines may
affect the test; you physician should review these and decide if any need to be
held before the test.</p>

<p>&nbsp;</p>

<p align="center"><a href="index.html">Home</a></p>
<p align="center">&nbsp;</p>

</body>