<p align="center"><img border="0" src="Black_Oval000CD9A8.gif" width="259" height="9"></p>
<p align="center"><img border="0" src="JCAHO%20gold-seal.jpg" width="79" height="79"></p>
<p align="center">The Endoscopy Center of Central Pennsylvania, L.L.C.</p>
<p align="center">is proudly</p>
<p align="center"><b><font size="6">Accredited</font></b></p>
<p align="center">by the</p>
<p align="center">Joint Commission on Accreditation of Healthcare Organizations</p>
<p align="center">&nbsp;</p>
<p align="center"><a href="http://www.jointcommission.org/">Link
to JCAHO website</a></p>
<p class="MsoNormal" align="center">The public may contact the Joint
Commission's Office of Quality Monitoring to report any concerns or register
complaints about a Joint Commission-accredited health care organization by
either calling 1/800-994-6610 or by emailing complaint@jointcommission.org.</p>

<p class="MsoNormal">&nbsp;</p>

<p class="MsoNormal"><span style="FONT-SIZE: 16pt; mso-bidi-font-size: 12.0pt"><font face="Times New Roman" size="5">&nbsp;<o:p>
</o:p></font></span><a href="eccp.htm">Back to Endoscopy Center home page</a></p>

</body>