/* all css styles have  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

/* removed . as this is now a semantic tag in index */
header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.container {
  margin: 0 0;
  display: flex;
}
.jumbotron {
  background-color: #2a607c;
  padding: 0;
  margin: 0 0;
}

/* removed . as this is now a semantic tag in index */
header h1 {
  display: inline-block;
  font-size: 48px;
}

/* removed . as this is now a semantic tag in index */
/* i had to add a background color here. investigate. */
header h1 mark {
  color: #d9dcd6;
  background-color: #2a607c;
}

/* removed . as this is now a semantic tag in index */
/* changed div to nav */
header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  overflow: auto;
}

/* removed . as this is now a semantic tag in index */
/* changed div to nav */
header nav ul {
  list-style-type: none;
}

/* removed . as this is now a semantic tag in index */
/* changed div to nav */
header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* I thought the image should go in HTML as its content, but apparently not true for background images */
.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/giacp-googlestreetview.JPG");
  background-size: cover;
  background-position: center;
}

#sidebar {
  background-color: #0072bb;
}
.float-left {
  float: left;
  margin-right: 25px;
}

#fs-frm {
  background-color: #0072bb;
  padding: 15px;
}

#message,
#full-name,
#email-address {
  width: 80%;
}
.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.william-rowe {
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  position: relative;
}

.william-rowe h2 {
  position: relative;
  margin-bottom: 20px;
  font-size: 36px;
}

.william-rowe img {
  position: relative;
  max-height: 200px;
  top: -25px;
  left: -25px;
  margin-right: 0;
  margin-bottom: -25px;
}

.robert-werkman {
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  position: relative;
}

.robert-werkman h2 {
  margin-bottom: 20px;
  font-size: 36px;
  position: relative;
}

.robert-werkman img {
  position: relative;
  max-height: 200px;
  top: -25px;
  left: -25px;
  margin-right: 0;
  margin-bottom: -25px;
}

.carrie-leese {
  margin-bottom: 20px;
  padding: 50px;
  height: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  position: relative;
}

.carrie-leese h2 {
  margin-bottom: 20px;
  font-size: 36px;
  position: relative;
}

.carrie-leese img {
  position: relative;
  max-height: 170px;
  max-width: 140px;
  top: -25px;
  left: -25px;
  margin-right: 0;
  margin-bottom: -25px;
}

.info {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.hours {
  margin-bottom: 32px;
  margin-left: 25px;
  color: #ffffff;
}

.hours h3 {
  margin-bottom: 10px;
  text-align: left;
}

.hours img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.location {
  margin-bottom: 32px;
  margin-left: 25px;
  color: #ffffff;
}

.location h3 {
  margin-bottom: 10px;
  text-align: left;
}

.location img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.procedures {
  margin-bottom: 32px;
  margin-left: 25px;
  color: #ffffff;
}

.procedures h3 {
  margin-bottom: 10px;
  text-align: left;
}

.procedures img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
